name: CI

on:
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: "2.3.6"
      - name: Run Biome
        run: biome ci .

  typecheck:
    name: "Typecheck"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Install dependencies & tooling
        uses: ./.github/workflows/setup
      - name: Run Checks
        run: pnpm run typecheck

  test:
    name: "SonarQube"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.3 # or "latest", "canary", <sha> #
      - name: Install dependencies & tooling
        uses: ./.github/workflows/setup
      - name: Setup env
        run: |
          cp .env.example .env
          echo SKIP_ENV_VALIDATION=1 >> .env
      - name: Run Tests
        run: pnpm test
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
