name: CI

on:
  workflow_call:

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
      - name: Setup Biome
        uses: biomejs/setup-biome@29711cbb52afee00eb13aeb30636592f9edc0088 # v2
        with:
          version: "2.3.12"
      - name: Run Biome
        run: biome ci .

  typecheck:
    name: "Typecheck"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
      - name: Install dependencies & tooling
        uses: ./.github/workflows/setup
      - name: Run Checks
        run: pnpm run typecheck

  test:
    name: "Test"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2
        with:
          bun-version: 1.3.6 # or "latest", "canary", <sha> #
      - name: Install dependencies & tooling
        uses: ./.github/workflows/setup
      - name: Setup env
        run: |
          cp .env.example .env
          echo SKIP_ENV_VALIDATION=1 >> .env
      - name: Run Tests
        run: pnpm test
