name: Deploy Production

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  code_quality:
    name: Code quality
    uses: ./.github/workflows/ci.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  run_migrations:
    name: Run Migrations
    runs-on: ubuntu-latest
    needs: [code_quality]
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install dependencies & tooling
        uses: ./.github/workflows/setup

      - name: Apply Migrations
        run: |
          touch .env
          echo SKIP_ENV_VALIDATION=1 >> .env
          echo DATABASE_URL=${{ secrets.DATABASE_URL }} >> .env
          pnpm run db:migrate

  deploy_production:
    name: Deploy Production
    runs-on: ubuntu-latest
    environment: production
    needs: [code_quality, run_migrations]
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install dependencies & tooling
        uses: ./.github/workflows/setup

      - name: Apply Migrations
        run: |
          touch .env
          echo SKIP_ENV_VALIDATION=1 >> .env
          echo DATABASE_URL=${{ secrets.DATABASE_URL }} >> .env
          pnpm run db:migrate

      - name: Deploy to Production
        uses: ./.github/workflows/cd/vercel/deploy-production
        with:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
