name: Deploy Preview

on:
  issue_comment:
    types: [created]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  deploy_preview:
    name: Deploy Preview
    if: |
      github.event.issue.pull_request &&
      github.event.comment.body == '/deploy-preview' &&
      (github.event.comment.author_association == 'OWNER' ||
       github.event.comment.author_association == 'MEMBER' ||
       github.event.comment.author_association == 'COLLABORATOR')
    environment: Preview
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      id-token: write
      issues: write
    steps:
      - name: Get PR info (head ref + sha)
        id: pr
        uses: actions/github-script@v8
        with:
          script: |
            const { owner, repo } = context.repo;
            const prNumber = context.payload.issue.number;
            const commentId = context.payload.comment.id;

            const pr = await github.rest.pulls.get({
              owner,
              repo,
              pull_number: prNumber
            });

            await github.rest.reactions.createForIssueComment({
              owner,
              repo,
              comment_id: commentId,
              content: "eyes"   // oppure "+1", "rocket", "hooray"
            });

            core.setOutput('number', String(pr.data.number));
            core.setOutput('head_ref', pr.data.head.ref);
            core.setOutput('head_sha', pr.data.head.sha);

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          ref: ${{ steps.pr.outputs.head_sha }}

      - name: Install dependencies & tooling
        uses: ./.github/workflows/setup

      - name: Create Neon Branch
        id: create_branch
        uses: neondatabase/create-branch-action@72ed4f69a12b6be9c16aebfad893f6a21e9aba8b # v6
        with:
          project_id: ${{ vars.NEON_PROJECT_ID }}
          # parent: main # optional (defaults to your primary branch)
          branch_name: preview/pr-${{ steps.pr.outputs.number }}-${{ steps.pr.outputs.head_ref }}
          database: neondb
          role: neondb_owner
          api_key: ${{ secrets.NEON_API_KEY }}

      - name: Apply Migrations
        run: |
          touch .env
          echo SKIP_ENV_VALIDATION=1 >> .env
          echo DATABASE_URL=${{ steps.create_branch.outputs.db_url_pooled }} >> .env
          pnpm run db:migrate

      - name: Post Schema Diff Comment to PR
        uses: neondatabase/schema-diff-action@80cfa8521628e890015b60f5291a7738926617dc # v1
        with:
          project_id: ${{ vars.NEON_PROJECT_ID }}
          compare_branch: preview/pr-${{ steps.pr.outputs.number }}-${{ steps.pr.outputs.head_ref }}
          database: neondb
          github-token: ${{ secrets.GITHUB_TOKEN }}
          base_branch: main
          api_key: ${{ secrets.NEON_API_KEY }}

      - name: Deploy to Preview (Vercel)
        id: deploy_vercel
        uses: ./.github/workflows/cd/vercel/deploy-preview
        with:
          VERCEL_TOKEN: ${{ secrets.vercel_token }}

      - name: Comment on Pull Request
        uses: thollander/actions-comment-pull-request@24bffb9b452ba05a4f3f77933840a6a841d1b32b # v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          message: |
            Vercel Preview URL :rocket: : ${{ steps.deploy_vercel.outputs.preview_url }}
            Neon branch :elephant: : https://console.neon.tech/app/projects/${{ vars.NEON_PROJECT_ID }}/branches/${{ steps.create_branch.outputs.branch_id }}
