name: Deploy Preview

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  code_quality:
    name: Code quality
    uses: ./.github/workflows/ci.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  deploy_preview:
    name: Deploy Preview
    environment: Preview
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies & tooling
        uses: ./.github/workflows/setup

      - name: Get branch name
        id: branch_name
        uses: tj-actions/branch-names@v9

      - name: Create Neon Branch
        id: create_branch
        uses: neondatabase/create-branch-action@v6
        with:
          project_id: ${{ vars.NEON_PROJECT_ID }}
          # parent: main # optional (defaults to your primary branch)
          branch_name: preview/pr-${{ github.event.number }}-${{ steps.branch_name.outputs.current_branch }}
          database: neondb
          role: neondb_owner
          api_key: ${{ secrets.NEON_API_KEY }}

      - name: Apply Migrations
        run: |
          touch .env
          echo SKIP_ENV_VALIDATION=1 >> .env
          echo DATABASE_URL=${{ steps.create_branch.outputs.db_url_pooled }} >> .env
          echo DIRECT_URL=${{ steps.create_branch.outputs.db_url }} >> .env
          pnpm run db:migrate

      - name: Post Schema Diff Comment to PR
        uses: neondatabase/schema-diff-action@v1
        with:
          project_id: ${{ vars.NEON_PROJECT_ID }}
          compare_branch: preview/pr-${{ github.event.number }}-${{ steps.branch_name.outputs.current_branch }}
          database: neondb
          github-token: ${{ secrets.GITHUB_TOKEN }}
          base_branch: main
          api_key: ${{ secrets.NEON_API_KEY }}

      - name: Deploy to Preview (Vercel)
        id: deploy_vercel
        uses: ./.github/workflows/cd/vercel/deploy-preview
        with:
          VERCEL_TOKEN: ${{ secrets.vercel_token }}

      - name: Comment on Pull Request
        uses: thollander/actions-comment-pull-request@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          message: |
            Vercel Preview URL :rocket: : ${{ steps.deploy_vercel.outputs.preview_url }}
            Neon branch :elephant: : https://console.neon.tech/app/projects/${{ vars.NEON_PROJECT_ID }}/branches/${{ steps.create_branch.outputs.branch_id }}
